<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Aktiform contributors">
<meta name="generator" content="Aktiform">
<title>Cover Template · Bootstrap</title>

<link rel="canonical" href="https://localhost:8080/">

<!-- Bootstrap core CSS -->
<link href="{{resources.bootstrapPath}}" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/favicon/manifest.json">
<!--
<link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#08F">
-->
<link rel="icon" href="/favicon/favicon.ico">
<!--
<meta name="msapplication-config" content="//static/favicon/browserconfig.xml">
-->
<meta name="theme-color" content="#08F">
