<form class="needs-validation"
      action="{{target}}"
      method="post"
      novalidate>
    {{fields}}
    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
</form>