<form class="needs-validation"
      action="{{target}}"
      method="post"
      novalidate>
    {{#fields}}
        <div class="form-row mb-3">
            {{.}}
        </div>
    {{/fields}}

    <hr class="mb-3">

    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
</form>