<div class="col">
    <label for="{{id}}">{{label}}</label>
    <textarea id="{{id}}"
           name="{{name}}"
           {{#value}}value="{{.}}"{{/value}}
           {{#placeholder}}placeholder="{{.}}"{{/placeholder}}
           {{#required}}required{{/required}}
           class="form-control">
    </textarea>

    {{#has_single_error}}
        <div class="invalid-feedback">
            {{#errors.0}}
                {{message}}
            {{/errors.0}}
        </div>
    {{/has_single_error}}

    {{#has_multiple_errors}}
        <div class="invalid-feedback">
            <ul>
                {{#errors}}
                    <li>{{message}}</li>
                {{/errors}}
            </ul>
        </div>
    {{/has_multiple_errors}}
</div>